<html>
  <header>
    <script src="http://hongru.github.io/proj/canvas2image/canvas2image.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  </header>
  <body>
        <%- include('navbar') %>

    <div align="center" style="margin-top: 50px;">
      <video id="player" controls autoplay></video>
      <form action="/algo/camera" method="POST">
      <input id="capture" type="submit" value="capture"></input>
      </form>
      <canvas id="canvas" width="320" height="240"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
  <script>
    const player = document.getElementById("player");
    const canvas = document.getElementById("canvas");
    const context = canvas.getContext("2d");
     const captureButton = document.getElementById("capture");

    const constraints = {
      video: true
    };

    captureButton.addEventListener("click", () => {
      // Draw the video frame to the canvas.
      context.drawImage(player, 0, 0, canvas.width, canvas.height);
    });

    // Attach the video stream to the video element and autoplay.
    navigator.mediaDevices.getUserMedia(constraints).then(stream => {
      player.srcObject = stream;
    });
  </script>
</html>
