<html>
    <head></head>
    <body>
        <form action="/algo" method="POST">
        <input type="text" name="calorieIntake">
        <select name="activityFactor">
            <option value="1.2">little</option>
            <option value="1.375">moderate</option>
            <option value="1.55">hard</option>
            <option value="1.9">extreme</option>
          </select>
    <input type="submit">
        </form>
    </body>
</html>