<!DOCTYPE html>
<html lang="en" dir="ltr">
<<<<<<< Updated upstream
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  </head>
  <body>
        <%- include('homenav') %>
    
    <br>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <center class="homecontent">
              <h1>YOUR PERSONAL <br>DIETICIAN.</h1>
              <br>
              <p><b>Have a doubt about your diet? <br> Why go to a dietician? <br>Ask me "Can I EAt It"</b></p>
              <button type="button" class="btn btn-primary"><a href="/auth/fitbit" style="color:white;"> Login with FitBit</a></button>
          </center>
          

        </div>
      </div>

    </div> <br><br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
  <style media="screen">
    body{
      background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
      background-repeat: no-repeat;
      background-size: cover;
    }
    #header{
      min-height: 50px;
      background: grey;
    }
    .homecontent{
      margin-top: 60px;
    }
    .homecontent h1{
      font-size: 65px;
      font-weight: 900;
    }
    .homecontent p{
      font-size: 35px;
    }
  </style>
</html>
=======

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <img src="logo.png" alt="" height="210px" width="200px">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6"> <a href="/auth/fitbit"
        class="btn btn-sm animated-button victoria-one login-btn">Smartwatch Login</a> </div>
  </div>
  <!-- <button class="btn btn-dark login-btn"type="button" name="button">Smartwatch Login</button> -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>
>>>>>>> Stashed changes
