<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  </head>
  <body>
        <%- include('homenav') %>
    
    <br>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <center class="homecontent">
              <h1>YOUR PERSONAL <br>DIETICIAN.</h1>
              <br>
              <p><b>Have a doubt about your diet? <br> Why go to a dietician? <br>Ask me "Can I EAt It"</b></p>
              <button type="button" class="btn btn-primary"><a href="/auth/fitbit" style="color:white;"> Login with FitBit</a></button>
          </center>
          

        </div>
      </div>

    </div> <br><br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
  <style media="screen">
    body{
      background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
      background-repeat: no-repeat;
      background-size: cover;
    }
    #header{
      min-height: 50px;
      background: grey;
    }
    .homecontent{
      margin-top: 60px;
    }
    .homecontent h1{
      font-size: 65px;
      font-weight: 900;
    }
    .homecontent p{
      font-size: 35px;
    }
  </style>
</html>
