<html>
    <head></head>
    <body>
        <form action="/algo/suggestionHandler" method="POST">
        <select name="suggestion">
            <option value="1">I want to reduce my weight</option>
            <option value="0">I am fine</option>
        </select>
    <input type="submit">
        </form>
    </body>
</html>